/* About.css */

/* Main container */
.about-section {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* About card */
  .about-card {
    width: 48%;
    padding: 1rem;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-image-container {
    width: 48%;
  }
  
  .about-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .play-video-button {
    padding: 0.75rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .play-video-button:hover {
    background-color: #ff865c;
  }
  