/* FAQ.css */

/* Set the background color of the body */
body {
    background-color: #f9f9f9;
  }
  
  /* Center the FAQ container and set its max width */
  .faq-container {
    margin: 0 auto;
    max-width: 1000px;
  }
  
  /* Style the FAQ items */
  .faq-list {
    gap: 20px;
    padding: 12px;
  }
  
  .faq-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .faq-item-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .faq-item-header span {
    font-size: 20px;
    font-weight: bold;
  }
  
  .faq-item p {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .faq-item.active p {
    max-height: 1000px;
    padding: 10px;
    transition: max-height 0.5s ease-in;
  }
  