/* Navbar.css */

.navbar {
    background-color: #b9660d;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-link {
    text-decoration: none;
    color: white;
  }
  
  .logo {
    width: 80px;
  }
  
  .menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    fill: white;
  }
  
  .menu-icon {
    width: 24px;
    height: 24px;
  }
  
  .menu {
    display: flex;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    margin-left: 1rem;
  }
  
  .menu-link {
    text-decoration: none;
    color: white;
  }
  
  /* Media query for mobile menu */
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      background-color: #555;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  
    .menu.open {
      display: flex;
    }
  
    .menu-item {
      margin: 0.5rem;
    }
  
    .menu-link {
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid white;
    }
  
    .menu-link:last-child {
      border-bottom: none;
    }
  
    .menu-button {
      display: block;
    }
  }
  