/* Service.css */

/* Set the background color of the body */
body {
    background-color: #f9f9f9;
  }
  
  /* Center the service container and set its max width */
  .service-container {
    margin: 0 auto;
    max-width: 1000px;
  }
  
  /* Style the accordion */
  .accordion {
    gap: 20px;
    padding: 12px;
  }
  
  .service-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .service-card-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .service-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .service-card h2 {
    margin-left: 10px;
    flex-grow: 1;
    font-size: 18px;
  }
  
  .service-card-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .service-card.active .service-card-content {
    max-height: 1000px;
    padding: 10px;
    transition: max-height 0.5s ease-in;
  }
  